<div class="jumbotron center">
	<h1>About us</h1>
	<p>We are working on our One Month Rails Pinteresting app!</p>
</div> 

<div class="jumbotron"> 
	<p>I am trying to learn how to program so I am building this site alongside
		one month rails.</p> 

	</p>My name is Cree Provinsal and my hobbies include, rock climbing, exercise, role playing games,
		video games, and hiking. I enjoy the outdoors and like to spend my time outside when I can. 
		I currently work at a sandwich shop but I hate it so I'm learning how to code.
</div> 
